/*헬로박스*/
.hellobox{
    font-size: 55px;
    display: flex;
    justify-content: center;
    padding-top: 150px;
}
.helloTextGradient{
    background: linear-gradient(90deg, #a2fecb, #edbefd, #9daff6);
    -webkit-background-clip: text;
    color: transparent;
    display: inline-block;
}

/*인트로 박스*/
.leftContainer{
    width: 500px;
    height: 400px;
}
.infoSubject{
    font-size: 25px;
    font-weight: 600;
    color: #2a2a2a;
    margin-bottom: 10px;
}
.myInfoBox{
    width: 400px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    display: block;
}
.starImg{
    width: 50px;
    height: 50px;
}
.infoTopBox{
    display: flex;
    height: 150px;
    font-weight: 500;
}
.infoNameBox, .infoBirthBox, .infoEmailBox{
    width: 143px;
    display: block;
}
.infoImgBox, .infoContentBox{
    display: flex;
    justify-content: center;
    align-items: center;
}
.infoImgBox{
    margin-top: 35px;
}
.infoBottomBox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    font-weight: 500;
}
.univBox{
    width: 300px;
    height: 40px;
    text-align: center;
    display: block;
    padding-left: 10px;
    margin-bottom: 150px;
}
.eduBox{
    width: 370px;
    height: 40px;
    text-align: center;
    display: block;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 150px;
}
.tmiBox{
    width: 430px;
    height: 110px;
    display: flex;
    align-items: center;
    font-weight: 500;
    margin-left:20px;
    margin-bottom: 10px;
}
.rightContainer{
    width: 420px;
    height: 340px;
    padding: 30px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.gitBox{
    width: 200px;
    height: 280px;
    border-radius: 30px;
    background-color: #57635b;
    display: block;
}
.urlImg{
    width: 50px;
    height: 50px;
    justify-content: center;
    margin-left: 65px;
    margin-top: 30px;
}
.iconImg{
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-top: 10px;
}
.iconImg_git{
    width: 70px;
    height: 70px;
}
.notionBox{
    width: 200px;
    height: 280px;
    border-radius: 30px;
    background-color: #57635b;
    display: block;
}
.urlBox{
    margin-top: 30px;
    margin-left: 40px;
}
.urlTextBox{
    font-size: 16px;
    text-align: center;
    margin-top: 25px;
    color: #3f3f3f;
    font-weight: 500;
}
.link{
    text-decoration-line: none;
    color: rgb(47, 47, 47);
    font-weight: 500;
}
.link:hover{
    color: rgb(2, 42, 22);
    font-weight: 600;
}

/*skill*/
.skillSubject{
    font-size: 25px;
    font-weight: 600;
    color: #2a2a2a;
    padding-left: 50px;
    padding-top: 30px;
    margin-bottom: 30px;
}
.skillBox{
    display: block;
}
.frontBox{
    width: 810px;
    height: 120px;
    display: flex;
    padding-left: 170px;
}
.backBox{
    width: 810px;
    height: 120px;
    display: flex;
    padding-left: 170px;
}
.etcBox{
    width: 810px;
    height: 120px;
    display: flex;
    padding-left: 170px;
}
.logoImgBox{
    height: 80px;
    padding: 20px;
    cursor: pointer;
}
.html, .css, .react, .java, .springboot, .mysql, .oracle, .mybatis{
    width: 80px;
    height: 80px;
}
.js{
    width: 70px;
    height: 75px;
    padding-left: 10px;
    padding-right: 10px;
}
.jquery{
    width: 110px;
    height: 75px;
}
.java, .spring{
    width: 80px;
    height: 80px;
}
.mysql{
    width: 70px;
    height: 70px;
}
.oracle, .mybatis{
    width: 100px;
    height: 100px;
}
.git{
    width: 80px;
    height: 80px;
}
.figma{
    width: 100px;
    height: 50px;
    padding-top: 15px;
}

/*프로젝트*/
.projectSubject{
    font-size: 25px;
    font-weight: 600;
    color: #2a2a2a;
    padding-left: 50px;
    padding-top: 30px;
}
.projectBox{
    border-radius: 30px;
    background-color: #57635b;
    width: 800px;
    height: 300px;
    margin: 50px 90px 0px 90px;
    display: flex;
}
.projectImg{
    width: 400px;
    height: 300px;
}
.projectInfo{
    width: 400px;
    height: 300px;
    display: block;
}
.slider{
    display: flex;
    width: 400px;
    height: 300px;
}
.slick-list{
    width: 380px;
    height: 220px;
    margin: 0;
    position: relative;
    display: block;
    overflow: hidden;
    left: 15px;
    top: 20px;
    border-radius: 20px;
}
.slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    background-color: white;
    padding: 10px;
    cursor: pointer;
}
.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
}
.slider-container {
    width: 400px; /* 슬라이더 너비 설정 */
    margin: auto; /* 슬라이더를 중앙에 배치 */
    position: relative; /* 화살표 위치를 슬라이더에 상대적으로 설정 */
}
.arrows-container {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: -50px; /* 슬라이더 아래로 내려서 위치 */
    width: 100%;
}
.prevarrow{
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: 1px solid rgb(149, 166, 160);
    background-color: rgb(149, 166, 160);
    position: absolute;
    left: 32.5px;
    bottom: 14px;
    font-size: 40px;
    display: flex;
    align-items: center;
    padding-bottom: 3px;
    justify-content: center;
    border-radius: 100px;
}
.nextarrow{
    cursor: pointer;
    width: 30px;
    height: 30px;
    border: 1px solid rgb(149, 166, 160);
    background-color: rgb(149, 166, 160);
    position: absolute;
    right: 32.5px;
    bottom: 14px;
    font-size: 40px;
    display: flex;
    align-items: center;
    padding-bottom: 3px;
    justify-content: center;
    border-radius: 100px;
}
.pjImg{
    width: 380px;
    height: 220px;
}